<div class="create-company-form-container form-container form-group">
  <h1>Create a Company</h1>

  <p>Please note, in order to create a job, you must first create a company record.</p>

  <form class="form company-form" id="new-company-form" name="new-company-form">
    <fieldset>
      <!-- <legend>Create Company Form</legend> -->
      <p id="create-company-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>


      <div class="form-group">
        <label>Company Name (required)</label>
        <input class="form-control required-field" name="company[name]" placeholder="Company Name" type="text">
      </div>

      <div class="form-group">
        <label>Location/Address</label>
        <input class="form-control required-field" name="company[location]" placeholder="Location" type="text">
      </div>

      <div class="form-group">
        <label>Company Website (url)</label>
        <input class="form-control" name="company[url]" placeholder="url" type="text">
      </div>

      <div class="form-group">
        <label>Company Notes</label>
        <textarea class="field-input note-input" name="company[note]" placeholder="Presenting Issue"></textarea>
        <!-- <input class="form-control" name="company[note]" placeholder="Company Notes" type="text"> -->
      </div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="create-company-btn" type="submit" value="Submit">
      </div>
    </fieldset>
  </form>
  <br><br>
  <div class="dashboard-container">
    <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  </div>
</div>
