<h1>Company Dashboard</h1>

<table class="table company-summary-table table-hover">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Company Location</th>
      <th>Website</th>
      <th>View Record</th>
    </tr>
  </thead>
  <tbody>
    {{#each companies as |company|}}
      <tr>
        <td class="display-company-name">
          {{company.name}}
        </td>
        <td class="display-company-location">
          {{company.location}}
        </td>
        <td class="display-company-url">
          {{company.url}}
        </td>
        <td class="display-company-submit">
          <button type="button" class="btn btn-info btn-sm dashboard-company-record-btn" data-current-company-id="{{company.id}}">View company</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-new-job-btn" type="button" class="btn btn-success" data-type-company-page="false">Create Job</button>
</div>
