
    {{#each statuses as |status|}}
      <tr class="tbody-values-exist">
        <td class="display-status-name">
          {{status.status_type}}
        </td>
        <td class="display-status-location">
          {{status.subject}}
        </td>
        <td class="display-status-url">
          {{status.due_date}}
        </td>
        <td class="display-status-submit">
          <button type="button" class="btn btn-info btn-sm status-record-btn" data-current-reminder-id="{{status.id}}">View status</button>
        </td>
      </tr>
    {{/each}}
