<!-- <ul class="nav nav-tabs nav-justified">
  <li class="active">
    <a id="get-reminders-btn" href="#" class="btn btn-default nav-tab-btn" role="button">Reminders Home</a>
  </li>
  <li>
    <a id="get-jobs-btn" href="#" class="btn btn-default nav-tab-btn" role="button">Jobs</a>
  </li>
  <li>
    <a id="get-contacts-btn" href="#" class="btn btn-default nav-tab-btn" role="button">Contacts</a>
  </li>
  <li>
    <a id="get-communications-btn" href="#" class="btn btn-default nav-tab-btn" role="button">Communications</a>
  </li>
  <li>
    <a id="get-documents-btn" href="#" class="btn btn-default nav-tab-btn" role="button">Documents</a>
  </li>
</ul> -->

<div class="dashboard-description-container dashboard-page">
  <h2>Welcome!</h2>
  <p>To view an existing company and job, view the dashboard. Otherwise, click "create job" to get started.</p>
</div>

<div class="home-btns">
  <button id="get-documents-btn" type="button" class="btn btn-success">Documents Home</button>
  <button id="get-contacts-btn" type="button" class="btn btn-success">Contacts Home</button>
  <button id="get-communications-btn" type="button" class="btn btn-success">Communications Home</button>
  <!-- <button id="get-jobs-btn" type="button" class="btn btn-success">Jobs Home</button> -->
  <!-- <button id="get-reminders-btn" type="button" class="btn btn-success">Reminders Home</button> -->

</div>
