<div class="dashboard-description-container dashboard-page">
  <h2>Job App Dashboard</h2>
  <p>Job App Dashboard is composed of five sections:

    <ol>
      <li>Reminders</li>
      <li>Jobs</li>
      <li>Contacts</li>
      <li>Communications</li>
      <li>Documents</li>
    </ol>

    Each section handles a specific portion of the job application process.  View
    each section using the menu above to get more information about the apps capabilities.
  </p>

  <button id="sample-html">Sample HTML</button>
  <div id="job-dropdown-in-contact-form"></div>

</div>
