<div class="dashboard-description-container">
  <h2>Welcome!</h2>
  <p>To view an existing company and job, view the dashboard. Otherwise, click "create job" to get started.</p>
</div>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create Job</button>
</div>
