<div class="dashboard-description-container">
  <h2>Welcome!</h2>
  <p>To view an existing company and job, view the dashboard. Otherwise, click "create job" to get started.</p>
</div>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  <button id="dashboard-new-job-btn" type="button" class="btn btn-success">Create Job</button>
</div>

<div class="home-btns">
  <button id="get-documents-btn" type="button" class="btn btn-success">Documents Home</button>
  <button id="get-contacts-btn" type="button" class="btn btn-success">Contacts Home</button>
  <button id="get-communications-btn" type="button" class="btn btn-success">Communications Home</button>
  <button id="get-jobs-btn" type="button" class="btn btn-success">Jobs Home</button>
  <button id="get-companies-btn" type="button" class="btn btn-success">Companies Home</button>
  <button id="get-reminders-btn" type="button" class="btn btn-success">Reminders Home</button>

</div>
