<div class="create-communication-form-container form-container form-group communication-page group-category">
  <h1>Create a Communication</h1>

  <form class="form communication-form" id="new-communication-form" name="new-communication-form">
    <fieldset>
      <p id="create-communication-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>

      <div class="form-group">
        <!-- <label>Communication Date <span class="clear-default-date">&#10005;</span></label> -->
        <label>Communication Date</label>
        <input class="default-date form-control required-field communication-date" name="communication[c_date]" placeholder="Communication Date" type="date">
      </div>

      <div class="form-group c-method">
        <label>Communication Method (required)</label>
        <select class="form-control" id="communication-method-select">
            <option class="form-control required-field" name="communication[c_method]" placeholder="Communication Method" type="text" value="Email">Email</option>
            <option class="form-control required-field" name="communication[c_method]" placeholder="Communication Method" type="text" value="Phone">Phone</option>
            <option class="form-control required-field" name="communication[c_method]" placeholder="Communication Method" type="text" value="Linkedin">LinkedIn</option>
            <option class="form-control required-field" name="communication[c_method]" placeholder="Communication Method" type="text" value="Meeting">Meeting</option>
            <option class="form-control required-field" name="communication[c_method]" placeholder="Communication Method" type="text" value="Other">Other</option>
        </select>
      </div>

      <div class="form-group">
        <label>Communication Subject (required)</label>
        <input class="form-control text-input required-field communication-subject" name="communication[c_subject]" placeholder="Communication Subject" type="text">
      </div>

      <div class="form-group">
        <label>Communication Url</label>
        <input class="form-control text-input required-field" name="communication[c_link]" placeholder="Communication Link" type="text">
      </div>

      <div class="form-group">
        <label>Communication Details</label>
        <textarea id="communication-details-input" class="create-textarea text-input form-control field-input communication-details" name="communication[c_details]" placeholder="Communication Details"></textarea>
      </div>

      <div class="form-group">
        <label>Communication Notes</label>
        <textarea id="communication-notes-input" class="create-textarea text-input form-control field-input communication-notes" name="communication[c_notes]" placeholder="Communication Notes"></textarea>
      </div>

      <div class="job-create-link-container form-group">
        <label>Would you like to associate a company with this communication?</label>
        <div class="form-group">
          <span>Check Box for Yes</span>
          <input id="job-create-link" type="checkbox" value="">
        </div>
      </div>

      <div id="job-category-radio-container"></div>

      <div class="display-dropdown-job"></div>
      <div class="display-alt-job"></div>

      <div class="form-group append-nonlink"></div>
      <div class="form-group display-jobs-dropdown"></div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="create-communication-btn" type="submit" value="Submit">
        <button type="button" class="btn btn-danger submit-btn current get-communications-back-btn">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
