$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.sign-out {
  height: 33px;
}

.nav-main-container {
  display: none;
}

.option-company-id {
  display: none;
}

.top-nav {
  margin-top: 20px;
}
