$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #ebe3d3;
  margin: 10px;
  padding: 5px;
}

h1 {
  color: #33312c;
}

h2 {
  color: #585551;
}

h3 {
  color: #800000;
}

// .nav-main-container {
//   border: 1px solid #585551;
// }

.table-hover > tbody > tr > td {
  border-top: 1px solid #585551;
  border-bottom: 1px solid #585551;
}

.table > thead > tr > th {
  border-bottom: 1px solid #585551;
}

.table-hover > tbody > tr:hover {
    background-color: #cbc1ad;
}

.home-dashboard-container {
  text-align: center;
}

.delete-confirmation-contain {
  display: none;
}

#sign-out {
  float:left;
  margin-left: 5px;
  display: none;
}

.float-table {
  width: 50%;
  float: left;
  padding: 5px;
}

#change-password {
  float:left;
  display: none;
}

.nav-main-container {
  display: none;
}

.option-company-id {
  display: none;
}

.top-nav {
  margin-top: 20px;
}

.credentials .btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}

@media screen and (max-width: 768px) {
  .float-table {
    width: 100%;
    clear: both;
  }
}
