<div class="create-document-form-container form-container form-group">
  <h1>Create a Document</h1>

  <p>Please note, in order to create a job, you must first create a document record.</p>

  <form class="form document-form" id="new-document-form" name="new-document-form">
    <fieldset>
      <!-- <legend>Create Document Form</legend> -->
      <p id="create-document-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>


      <div class="form-group">
        <label>Document Type (required)</label>
        <input class="form-control required-field" name="document[doctype]" placeholder="Document Type" type="text">
      </div>

      <div class="form-group">
        <label>Document Date</label>
        <input class="form-control required-field" name="document[docdate]" placeholder="Document Date" type="date">
      </div>

      <div class="form-group">
        <label>Document Url</label>
        <input class="form-control required-field" name="document[docurl]" placeholder="Document Link" type="text">
      </div>

      <div class="form-group">
        <label>Document Subject (required)</label>
        <input class="form-control required-field" name="document[docsubject]" placeholder="Document Subject" type="text">
      </div>

      <div class="form-group">
        <label>Document Text</label>
        <textarea class="form-control field-input note-input" name="document[doctext]" placeholder="Document Text"></textarea>
      </div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="create-document-btn" type="submit" value="Submit">
      </div>
    </fieldset>
  </form>
  <br><br>
  <div class="dashboard-container">
    <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
  </div>
</div>
