
<div class="create-document-form-container form-container form-group document-page group-category">
  <h1>Create a Document</h1>

  <form class="form document-form" id="new-document-form" name="new-document-form">
    <fieldset>
      <p id="create-document-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>

      <div class="form-group">
        <!-- <label>Document Date <span class="clear-default-date">&#10005;</span></label> -->
        <label>Document Date</label>
        <input class="default-date form-control required-field" name="document[docdate]" placeholder="Document Date" type="date">
      </div>

      <div class="form-group doc-type">
        <label>Document Type (required)</label>
        <select class="form-control" id="document-type-select">
            <option class="form-control required-field document-doctype" name="document[doctype]" placeholder="Document Type" type="text" value="Resume">Resume</option>
            <option class="form-control required-field document-doctype" name="document[doctype]" placeholder="Document Type" type="text" value="Cover Letter">Cover Letter</option>
            <option class="form-control required-field document-doctype" name="document[doctype]" placeholder="Document Type" type="text" value="Application Questions">Application Questions</option>
            <option class="form-control required-field document-doctype" name="document[doctype]" placeholder="Document Type" type="text" value="Other">Other</option>
        </select>
      </div>

      <div class="form-group">
        <label>Document Subject (required)</label>
        <input class="form-control text-input required-field" name="document[docsubject]" placeholder="Document Subject" type="text">
      </div>

      <div class="form-group">
        <label>Document Url</label>
        <input class="form-control required-field" name="document[docurl]" placeholder="Document Link" type="text">
      </div>

      <div class="form-group">
        <label>Document Text</label>
        <textarea id="doctext-field" class="create-textarea text-input form-control field-input note-input" name="document[doctext]" placeholder="Document Text"></textarea>
      </div>

      <div class="job-create-link-container form-group">
        <label>Would you like to associate a company with this document?</label>
        <div class="form-group">
          <span>Check Box for Yes</span>
          <input id="job-create-link" type="checkbox" value="">
        </div>
      </div>

      <div id="job-category-radio-container"></div>

      <div class="display-dropdown-job"></div>
      <div class="display-alt-job"></div>

      <div class="form-group append-nonlink"></div>
      <div class="form-group display-jobs-dropdown"></div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="create-document-btn" type="submit" value="Submit">
        <button type="button" class="btn btn-danger submit-btn current get-documents-back-btn">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
