<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-xs-offset-0">
      <div class="document-page group-category">
        <h1>Document Dashboard</h1>

        <table class="table document-summary-table table-hover">
          <thead>
            <tr>
              <th class="hidden-xs">Date</th>
              <th class="hidden-xs">Document Type</th>
              <th>Document Subject</th>
              <th>View Record</th>
            </tr>
          </thead>
          <tbody>
            {{#each documents as |document|}}
              <tr>
                <td class="display-document-date hidden-xs">
                  {{document.docdate}}
                </td>
                <td class="display-document-type hidden-xs">
                  {{document.doctype}}
                </td>
                <td class="display-document-subject">
                  {{document.docsubject}}
                </td>
                <td class="display-document-submit">
                  <button type="button" class="btn btn-default btn-sm dashboard-document-record-btn" data-current-document-id="{{document.id}}">View document</button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="dashboard-container">
          <button id="dashboard-new-document-btn" type="button" class="btn btn-success">Create Document</button>
        </div>
      </div>
    </div>
  </div>
</div>
