<div id="communication-ref-text-alt-job-container" class="form-group alt-container">
  <label>Custom<span id="alt-label-job" class="alt-label"></span> Text</label>
  <input id="alt-input-entry-job" class="form-control text-input alt-input-entry" name="communication[job_ref_text]" placeholder="Company Name" type="text" value="">
</div>
