<div id="contact-ref-text-alt-job-container" class="form-group alt-container">
  <label>Company Name (note: this record will not be linked)</label>
  <input id="alt-input-entry-job" class="form-control text-input alt-input-entry" name="contact[job_ref_text]" placeholder="Company Name" type="text" value="">
</div>
