<div class="create-job-form-container form-container form-group job-page group-category">
  <h1>Create a Job</h1>

  <form class="form job-form" id="new-job-form" name="new-job-form">
    <fieldset>

      <p id="create-job-error" class="warning form-error"></p>
      <p>All fields are <u>optional</u> unless otherwise indicated</p>

      <div class="form-group">
        <label>Company Name (required)</label>
        <input class="form-control text-input" name="job[company_name]" placeholder="Company Name" type="text">
      </div>

      <div class="form-group">
        <label>Job Title (required)</label>
        <input id="job-date-create-field" class="form-control text-input" name="job[title]" placeholder="Job Title" type="text">
      </div>

      <div class="form-group">
        <label>Job Posting Date</label>
        <input name="job[posting_date]" class="form-control format-date" placeholder="Posting Date" type="date">
      </div>

      <div class="form-group">
        <label>Job Post Url</label>
        <input name="job[post_url]" class="form-control" placeholder="Job Post Link" type="text">
      </div>

      <div class="form-group">
        <label>Job Salary</label>
        <input id="interval-number-entry" class="form-control text-input" name="job[salary]" placeholder="Job Salary" type="text">
      </div>

      <div class="form-group">
        <label>Job Description</label>
        <textarea id="job-description-input" class="create-textarea text-input form-control field-input note-input" name="job[job_description]" placeholder="Job Description" type="textarea"></textarea>
      </div>

      <div class="form-group">
        <label>Responsibilities</label>
        <textarea id="job-responsibilities-input" class="create-textarea text-input form-control field-input note-input" name="job[responsibility]" placeholder="Job Responsibilities" type="textarea"></textarea>
      </div>

      <div class="form-group">
        <label>Requirements</label>
        <textarea id="job-requirement-input" class="create-textarea text-input form-control field-input note-input" name="job[requirement]" placeholder="Job Requirements" type="textarea"></textarea>
      </div>

      <div class="form-group">
        <label>Job Deadline</label>
        <input name="job[deadline]" class="form-control format-date" placeholder="Deadline" type="date">
      </div>

      <div class="form-group">
        <label>Job Notes</label>
        <textarea id="job-notes-input" class="create-textarea text-input form-control field-input note-input" name="job[note]" placeholder="Job Notes" type="textarea"></textarea>
      </div>

      <div class="job-create-link-container form-group">
        <label>Have you applied to the job?</label>
        <div class="form-group">
          <span>Check Box for Yes</span>
          <input id="job-applied-checkbox" name="job[applied]" placeholder="applied" type="checkbox" value="">
        </div>
        <div class="form-group job-applied-date-container">
          <input id="job-applied-date-field" name="job[date_applied]" class="form-control" placeholder="Application Date" type="date" data-attr-update-form="0">
        </div>
      </div>

      <div class="job-auto-reminder-container">
        <label>Would you like to add a default reminder for this job?</label>
        <div class="form-group">
          <span>Check Box for Yes</span>
          <input id="default-reminder-input" placeholder="default-reminder" type="checkbox" value="">
        </div>
      </div>

      <div class="form-group">
        <label>Application Priority Scale</label>
        <label>1 being the highest priority</label>
        <select class="form-control" name="job[priority_num]" id="job-priority-select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <input class="btn btn-success submit-btn current" name="submit" id="create-job-btn" type="submit" value="Submit">
        <input class="btn btn-danger submit-btn current get-jobs-back-btn" name="submit" type="button" value="Cancel">
      </div>
    </fieldset>
  </form>
</div>
