<h1>Create New Job</h1>
<p>All observation jobs must be associated with a company record.  If your company already has a record, please click "Existing Company" below.  Otherwise,
  please click "New Company" to create a company record.</p>
<div class="dashboard-new-job-home">
  <div class="new-job-home-container">
      <button id="new-job-new-company" class="btn btn-info" type="button">New Company</button>
      <button id="new-job-existing-company" class="btn btn-info" type="button">Existing Company</button>
    </div>
  </div>
</div>
<br><br>
<div class="dashboard-container">
  <button id="dashboard-home-btn" type="button" class="btn btn-primary">View Dashboard</button>
</div>
