<div id="tag-job-to-communication-select" class="tag-select-container">
  <label>Job Name Selection:</label>
  <select id="select-option-job-category" class="form-control select-option-value">
      <option class="form-control blank-option" placeholder="Blank" type="text" value="0"></option>
      {{#each jobs as |job|}}
        <option class="form-control option-company-name" name="job[company_name]" placeholder="reminder Type" type="text" data-job-id="{{job.id}}" data-job-name="{{job.company_name}}" value="{{job.id}}">{{job.company_name}}</option>
      {{/each}}
  </select>
</div>
