<div class="radio-group-container">

  <div class="form-group radio-btn-container">
    <label>Tag this <span class="form-category-name"></span> to an existing <span class="list-category-name"></span></label>
    <label><input type="radio" name="job-category-radio" value="1">Yes</label>
    <label><input type="radio" name="job-category-radio" value="0">No</label>
  </div>

  <div class="display-radio-drop"></div>

</div>
