<div class="dropdown-menu">
  <form class="auth">
    <p class="failure signin-failure"></p>
    <p class="success signin-success"></p>
    <fieldset>
      <label class="email">
          Email
        <input type="email" name="credentials[email]" class="form-clear signin-email">
      </label>

      <label class="password">
          Password
          <input type="password" name="credentials[password]" class="form-clear signin-password">
      </label>
      <input type="submit" class="btn btn-default" name="submit" value="Sign-in">
    </fieldset>
  </form>
</div>
