<div class="dropdown-menu">
  <form class="auth">
    <p class="failure signup-failure"></p>
    <p class="success signup-success"></p>
    <fieldset>
      <label class="email">
            Email
            <input class="form-clear signup-email" type="email" name="credentials[email]">
      </label>

      <label class="password">
            Password
            <input id="password" type="password" name="credentials[password]" class="form-clear signup-password">
      </label>

      <label class="password_confirmation">
            Password Confirmation
            <input id="password_confirmation" type="password" name="credentials[password_confirmation]" class="form-clear signup-password signup-password-confirm">
      </label>
      <input type="submit" class="btn btn-default" name="submit" value="Sign-up">
    </fieldset>
  </form>
</div>
